@font-face {
    font-family: 'GlacialIndifferenceRegular';
    src: url('font/GlacialIndifference-Regular.otf') format('opentype');
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    background-image: url('assets/background.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.hero {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em;

    & img {
        max-width: 10em;
        height: auto;
    }

    & h1 {
        font-family: 'GlacialIndifferenceRegular', serif;
        margin-top: 0.4em;
        font-size: 1.6em;
        font-weight: 400;
        letter-spacing: 0.4em;
        color: #BEB9B1;
        text-transform: uppercase;
        margin-left: 20px;
        text-align: center;
    }

    & .line {
        align-items: center;
        width: 50%;
        height: 2px;
        background-color: #fff;
        margin-top: 1.9em;
    }

    & .arrow {
        margin-top: -1.3em;
        width: 3.3em;
        display: block;
    }

    & .como {
        margin-top: 1.6em;
        text-align: center;

        & h2 {
            font-family: 'Playfair Display', serif;
            font-size: 5em;
            font-weight: 400;
            color: #BEB9B1;
        }
    }

    /* Linha cima */
    & .line:nth-child(2) {   
        width: 50%;
        height: 2px;
        background-color: #fff;
        margin: 20px auto;
    }
}

.conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 2em;

    & .container {
        color: #BEB9B1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 1200px;

        & .item1 {
            width: 60%;
            background-image: url('assets/book_1_11zon.webp');
            background-size: contain;
            background-position-x: 90%;
            background-repeat: no-repeat;
            height: 12.8em;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: #000;
            border-radius: 50px;
            padding: 1em 2em;
            color: #BEB9B1;
            z-index: -10;

            & img {
                width: 11em;
                height: auto;
                border-radius: 10px;
            }

            & .description {
                height: 8em;
                background-color: rgba(0, 0, 0, 0.7);
                border-radius: 12px;
                flex: 1;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;
                gap: 0.1em;
                font-size: 1.6em;
                color: #BEB9B1;

                & p {
                    font-size: 1em;
                    text-transform: uppercase;
                    font-weight: 300;
                    margin-top: 2.3em;
                    letter-spacing: 0.2em;
                    font-family: 'GlacialIndifferenceRegular', serif;
                    padding: 0.1em;
                }

                & h3 {
                    margin-bottom: 0.65em;
                    font-size: 3em;
                    font-weight: 500;
                    letter-spacing: 0.1em;
                }
            }
        }

        & a {
            & button {
                margin-top: -0.8em;
                font-size: 1.2em;
                font-weight: 600;
                letter-spacing: 0.2em;
                background-color: #74999B;
                color: #fff;
                border: none;
                border-radius: 20px;
                padding: 1em 4em;
                cursor: pointer;
                transition: background-color 0.3s;
                margin-bottom: 2em;

                &:hover {
                    background-color: #364849;
                }
            }
        }

        & .item2, & .item3, & .item4, & .item5 {
            width: 60%;
            background-size: cover;
            background-position-x: 90%;
            background-repeat: no-repeat;
            height: 12.8em;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            background-color: #000;
            border-radius: 50px;
            gap: 2em;
            color: white;
            z-index: -10;

            & .description {
                height: 8em;
                background-color: rgba(0, 0, 0, 0.7);
                border-radius: 50px;
                flex: 1;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;
                gap: 0.5em;
                font-size: 1.6em;
                color: #BEB9B1;

                & p {
                    font-size: 1.1em;
                    font-weight: 300;
                    margin-top: 1.3em;
                    letter-spacing: 0.2em;
                    font-family: 'GlacialIndifferenceRegular';
                    padding: 0.4em;
                }

                & h3 {
                    margin-bottom: 0.7em;
                    font-size: 2.6em;
                    font-weight: 400;
                }
            }
        }

        & .item2 {
            background-image: url('assets/iphone_3_11zon.webp');
        }

        & .item3 {
            background-image: url('assets/note_2_11zon.webp');
            background-size: cover;
            background-position-y: center;
        }

        & .item4 {
            background-image: url('assets/marjorie_1_11zon.webp');
            background-size: cover;
            background-position-y: center;

            & .description {
                & p {
                    font-size: 1.7em;
                    margin-left: 1em;
                    margin-bottom: -0.7em;
                }

                & h3 {
                    font-size: 3.4em;
                    font-weight: 500;
                }
            }
        }

        & .item5 {
            background-image: url('assets/cell_2_11zon.webp');
            background-size: cover;
            background-position-y: center;

            & .description {
                & h3 {
                    font-size: 2em;
                }
            }
        }
    }
}

.logo {
    width: 10%;
    position: fixed;
    bottom: 5px;
    right: 5px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    z-index: 100;

    & img {
        max-width: 100%;
        height: auto;
    }
}

